<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>iOS 16 Battery Percentage</title>
  <link rel="stylesheet" href="./style.css">
</head>
<body>
  <div id="app">
		<section class="battery">
			<span class="number">
				{{ isCharging ? '' : percentage }}
			</span>
			<span class="color-number" :style="colorNumberStyle">
				{{ isCharging ? '' : percentage }}
			</span>
			<img src="./static/lightning.svg" alt="Charging Icon" class="lightning" :class="{ 'charging': isCharging }">
		</section>
		<section class="control">
			<input type="range" id="value" v-model="percentage">
			<label for="value">Battery</label>
			<br>
			<input type="checkbox"  id="charging-checkbox" v-model="isCharging">
			<label for="charging-checkbox">Charging</label>
		</section>
  </div>
</body>
<script src="./vue@2"></script>
<script>
const app = new Vue({
  el: '#app',
  data: {
    percentage: 65,
		isCharging: false,
  },
	computed: {
		colorNumberStyle() {
			return {
				backgroundColor: this.percentage > 19 ? this.isCharging ? '#67CD67' : '#fff' : '#FD3C2B',
				clipPath: `inset(0 ${ (100 - this.percentage) / 100 * 200 }px 0 0 round 15px)`,
			}
		}
	},
})
</script>
</html>